@page "/"

<h1 class="display-4">Volume Control</h1>

<button class="btn btn-primary" @onclick="IncreaseVolume">
    IncreaseVolume
</button>
<button class="btn btn-primary" @onclick="DecreaseVolume">
    DecreaseVolume
</button>
<button class="btn btn-primary" @onclick="MuteVolume">
    MuteVolume
</button>

<p>@messageOnWeb</p>
